.first
{
    background-color: brown;
}

.newbutton
{
    background-color: brown;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.newbutton:hover
{
    background-color:rgb(218, 84, 84);
}

.log
{
    color:brown;
}
